<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Post</title>
    </head>
    <body>
        <header>
            <a href="{{ url_for('home') }}">Coretabs Posty </a> | <span style="color: dodgerblue">Create post</span>
        </header>

        <main>
            <form action="{{ url_for('post_add') }}" method="POST">
            <label>Photo</label>
            <div>
                <input type="text" name="photo_url" placeholder="Past your photo URL">
            </div>
            <label>Author name</label>
            <div>
                <input type="text" name="name" placeholder="Write your name">
            </div>
            <label>Content:</label>
            <div>
                <textarea name="body" cols="30" rows="10" placeholder="This is the content of your post"></textarea>
            </div>
            <div>
                <input type="submit" value="Add Post">
            </div>
        </form>
        </main>
    </body>
</html>